pandas~=2.2.0
plotly~=5.19.0
numpy~=1.26.3
Flask~=3.0.2
Werkzeug~=3.0.1
WTForms~=3.1.2
SQLAlchemy~=2.0.28
psycopg2-binary==2.9.6
gunicorn==21.2.0
Bootstrap-Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
email-validator==2.1.1